.description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  margin-bottom: 192px;
}

.description__container {
  position: relative;
}

.description__text-block {
  max-width: 450px;
  width: 100%;
}

.desciption__header {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 25px;
}

.description__text {
  color: var(--gray);
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  margin-bottom: 45px;
}

.description__dots-grid {
  position: absolute;
  left: -50px;
  top: 0;
}
