@import "node_modules/modern-normalize/modern-normalize.css";

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  appearance: button;
  background-color: transparent;
  background-image: none;
  border: 0px;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}
