@import "node_modules/modern-normalize/modern-normalize.css";

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

:root {
  --blue: #458ff6;
  --gray: #7d7987;
}
