.providers {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
}

.providers__block {
  flex: 1;
}

.providers__text {
  max-width: 450px;
}

.providers__header {
  margin-bottom: 26px;
}

.providers__description {
  margin-top: 31px;
  margin-bottom: 37px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: var(--gray);
}

.providers__dots-grid {
  position: absolute;
  right: 0;
  bottom: 100px;
  translate: 50px;
}

.providers__container {
  position: relative;
  max-width: 100vw;
  padding-bottom: 220px;
  overflow: hidden;
}
