.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  border: 1px solid #458ff6;
  color: #458ff6;
  background-color: white;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  font-size: 18px;
  font-weight: 700;
}
